USE [master]
GO
/****** Object:  Database [WepCrawler]    Script Date: 1.02.2023 18:25:10 ******/
CREATE DATABASE [WepCrawler]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WepCrawler', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WepCrawler.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WepCrawler_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\WepCrawler_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WepCrawler].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WepCrawler]
GO
/****** Object:  Table [dbo].[tblMainUrls]    Script Date: 1.02.2023 18:25:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMainUrls](
	[UrlHash] [char](64) NOT NULL,
	[Url] [nvarchar](200) NOT NULL,
	[DiscoverDate] [datetime] NOT NULL,
	[LinkDepthLevel] [smallint] NOT NULL,
	[ParentUrlHash] [char](64) NOT NULL,
	[LastCrawlingDate] [datetime] NOT NULL,
	[SourceCode] [varchar](max) NULL,
	[FetchTimeMS] [int] NOT NULL,
	[PageTile] [nvarchar](max) NULL,
	[CompressionPercent] [tinyint] NOT NULL,
	[IsCrawled] [bit] NULL,
	[HostUrl] [nvarchar](200) NOT NULL,
	[CrawlTryCounter] [tinyint] NOT NULL,
 CONSTRAINT [PK_MainUrls] PRIMARY KEY CLUSTERED 
(
	[UrlHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [select_query_tuning_index]    Script Date: 1.02.2023 18:25:11 ******/
CREATE NONCLUSTERED INDEX [select_query_tuning_index] ON [dbo].[tblMainUrls]
(
	[IsCrawled] ASC,
	[CrawlTryCounter] DESC,
	[DiscoverDate] ASC
)
INCLUDE([Url],[LinkDepthLevel]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblMainUrls] ADD  CONSTRAINT [DF_MainUrls_LinkDepthLevel]  DEFAULT ((0)) FOR [LinkDepthLevel]
GO
ALTER TABLE [dbo].[tblMainUrls] ADD  CONSTRAINT [DF_tblMainUrls_FetchTimeMS]  DEFAULT ((0)) FOR [FetchTimeMS]
GO
ALTER TABLE [dbo].[tblMainUrls] ADD  CONSTRAINT [DF_tblMainUrls_CompressionPercent]  DEFAULT ((100)) FOR [CompressionPercent]
GO
ALTER TABLE [dbo].[tblMainUrls] ADD  CONSTRAINT [DF_tblMainUrls_Unprocessed]  DEFAULT ((0)) FOR [IsCrawled]
GO
USE [master]
GO
